.card {
    border: 1px solid #141313;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f3d1f2;
    border: 1px solid #0f0e0f;
    overflow: hidden;
    max-width: 300px;
    height:320px;
    margin: 20px;
  }
  
  .card-image {
    width: 100px;
    height: 100px;
    margin: '10%';
    
  }


  
  .card-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10%;
    width: 40%;
    height: 45%;
    margin-top: 13%;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }